<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geek.libxuanzeqi">

    <application
        android:allowBackup="true"
        android:label="@string/app_namelibxuanzeqi"
        android:supportsRtl="true">
        <activity
            android:name=".DateTimePickerActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.DateTimePickerActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>