<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geek.libxuanzeqi">

    <application
        android:allowBackup="true"
        android:label="@string/app_namelibxuanzeqi"
        android:supportsRtl="true">
        <activity
            android:name=".activity.MainActivitylibxuanzeqi"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.MainActivitylibxuanzeqi" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SinglePickerActivitylibxuanzeqi"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DateTimePickerActivitylibxuanzeqi"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LinkagePickerActivitylibxuanzeqi"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddressPickerActivitylibxuanzeqi"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ColorPickerActivitylibxuanzeqi"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FilePickerActivitylibxuanzeqi"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CalendarPickerActivitylibxuanzeqi"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ImagePickerActivitylibxuanzeqi"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>
</manifest>