<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geek.tablayout">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
<!--        android:label="@string/app_namelibtablayout"-->

        <activity
            android:name=".TablayoutAct"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.hs.act.slbapp.TablayoutAct" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CommonTabActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SlidingTabActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SegmentTabActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>
</manifest>